a {color:#202020; text-decoration: none}
.title_color { background-color: #CDDADE; }
.info_color0 { background-color: #F2F6F9; }
.info_color1{ background-color: #FFFFFF; }

.fontcolor_info_highlight { color: #FF0000FF;}
.fontcolor_info_normal { color: #C70E5C; }
.fontcolor_info_ignore { color: #888888; }